@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Sample Movies</h1>
<div class="row mb-2">
    
    <div class="col-8">
        <h2>Sample One</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tellus turpis, lacinia sit amet blandit a, hendrerit at nibh. Cras leo mauris, efficitur ut ligula non, consequat laoreet enim. Nullam tincidunt aliquet elit, pretium feugiat ipsum. Curabitur porta velit in fringilla ullamcorper. Mauris sit amet enim sodales, tincidunt ipsum at, hendrerit lectus. Cras vel velit eget elit sodales accumsan. Donec iaculis tempor mollis. Integer euismod elit a dignissim posuere. Vestibulum non ultricies arcu. Integer viverra eros tortor, egestas pretium nibh volutpat sed. Nunc egestas augue eget ex pulvinar, vitae cursus massa iaculis. Praesent finibus eleifend ornare. Phasellus a libero ante.</p>
    </div>
    <div class="col-4">
        <img src="~/img/avengersendgame.jpg" />
    </div>
</div>
<div class="row mb-2">
    
    <div class="col-8">
        <h2>Sample Two</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tellus turpis, lacinia sit amet blandit a, hendrerit at nibh. Cras leo mauris, efficitur ut ligula non, consequat laoreet enim. Nullam tincidunt aliquet elit, pretium feugiat ipsum. Curabitur porta velit in fringilla ullamcorper. Mauris sit amet enim sodales, tincidunt ipsum at, hendrerit lectus. Cras vel velit eget elit sodales accumsan. Donec iaculis tempor mollis. Integer euismod elit a dignissim posuere. Vestibulum non ultricies arcu. Integer viverra eros tortor, egestas pretium nibh volutpat sed. Nunc egestas augue eget ex pulvinar, vitae cursus massa iaculis. Praesent finibus eleifend ornare. Phasellus a libero ante.</p>
    </div>
    <div class="col-4">
        <img src="~/img/avengersinfinitywar.jpg" />
    </div>
</div>