body{
    color:white
}
#hero {
    min-height: 100vh;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
    
    padding-top: 60px;
}
.form-ul {
    list-style: none;
}
input {
    width: 100%;
}
input[type="textarea"] {
    height: 50px;
}
img {
    max-width: 100%;
    
}
@media (max-width: 400px) {
    img {
        width: 100px;
        height: auto;
    }
}