@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-weight: 600;
}
.bar {
    width: 280px;
    height: 100vh;
    max-width: 100%;
}
.prof-pic img{
    border-radius: 50%;
    border: 6px black;
}
.side-nav {
    list-style: none;
}
ul {
    width: 70%;
    margin-left: 20px;
}
li {
    margin: 10px 0;
}
.side-nav a {
    text-decoration: none;
    color: #fff;

}
.side-nav a:hover {
    text-decoration: none;
    color: goldenrod;

}

